{
    "clientId": "{{ ansible_hostname }}-solar-power",
    "deviceLocation": "{{ device_location }}",
    "deviceName": "{{ device_name }}",
    "mqttHost": "{{ mqttHostname }}",
    "mqttUsername": "{{ mqttUsername }}",
    "mqttPassword": "{{ mqttPassword }}",
    "inverterList": {{ inverter_list | to_json }}
}