{
    "clientId": "{{ ansible_hostname }}-power",
    "deviceLocation": "{{ device_location }}",
    "deviceName": "{{ device_name }}",
    "mqttHost": "{{ mqttHostname }}",
    "mqttUsername": "{{ mqttUsername }}",
    "mqttPassword": "{{ mqttPassword }}",
    "enableSensor": [ {{ enabled_sensors }} ]
}