{
    "clientId": "{{ ansible_hostname }}-pir",
    "deviceLocation": "{{ device_location }}",
    "deviceName": "{{ device_name }}",
    "mqttHost": "{{ mqttHostname }}",
    "mqttUsername": "{{ mqttUsername }}",
    "mqttPassword": "{{ mqttPassword }}",
    "gpioPin": "{{ pir_gpio_pin }}",
    "pirName": "{{ pir_name }}"
}