{
    "clientId": "{{ ansible_hostname }}-bme680",
    "deviceLocation": "{{ device_location }}",
    "deviceName": "{{ device_name }}",
    "mqttHost": "{{ mqttHostname }}",
    "mqttUsername": "{{ mqttUsername }}",
    "mqttPassword": "{{ mqttPassword }}",
    "tempOffset": {{ temp_offset }},
    "reportInterval": 15
}