{
    "clientId": "{{ ansible_hostname }}-door",
    "deviceLocation": "{{ device_location }}",
    "deviceName": "{{ device_name }}",
    "mqttHost": "{{ mqttHostname }}",
    "mqttUsername": "{{ mqttUsername }}",
    "mqttPassword": "{{ mqttPassword }}",
    "gpioPin": "{{ gpio_pin }}",
    "doorName": "{{ door_name }}"
}