{
    "clientId": "{{ ansible_hostname }}",
    "deviceName": "{{ device_name }}",
    "mqttHost": "{{ mqttHostname }}",
    "mqttUsername": "{{ mqttUsername }}",
    "mqttPassword": "{{ mqttPassword }}"
}