{
    "clientId": "{{ ansible_hostname }}-doorbell-relay",
    "deviceLocation": "{{ device_location }}",
    "deviceName": "{{ device_name }}",
    "mqttHost": "{{ mqttHostname }}",
    "mqttUsername": "{{ mqttUsername }}",
    "mqttPassword": "{{ mqttPassword }}",
    "gpioPin_button": "{{ button_gpio_pin }}",
    "gpioPin_relay": "{{ relay_gpio_pin }}",
    "bellName": "{{ bell_name }}"
}